header {
    display: none;
}

aside {
    display: none;
}

.mobile_menu {
    display: none;
}

footer {
    display: none;
}

.forms_subtitle{
    margin-top: 30px;
}

.item_main_container_section {
    width: 100%;   
}

.main_container {
    min-height: auto;
}

#btn_print, #btn_print_customer, #btn_print_supplier, #btn_print_inventory, #btn_print_supplier_lists, #btn_print_output_product {
    display: none;
}

#btn_search2 {
    display: block;
}

#customers_lists_table .table_search:hover, #supplier_lists_table .table_search:hover, 
#products_lists_table .table_search:hover, #inputs_products_lists_table .table_search:hover,
#invoice_history_lists_table .table_search:hover {
    cursor: pointer;  
    background-color: #007BFF;   
    color: #ffffff;
}

/* SEARCH BAR 
--------------*/

.select_search {
    height: 30px;
}

.input_search {
    height: 30px;
    border: none;
    outline: 1px solid gold;
}

.input_search:focus {
    outline: 2px solid var(--buttons);
}

.btn_search_subwindow {
    height: 30px;
}

.icon_search_subwindow {
    vertical-align: super;
}