header {
    display: none;
}

aside {
    display: none;
}

.mobile_menu {
    display: none;
}

footer {
    display: none;
}

.item_main_container_section {
    width: 100%;   
}

.main_container {
    min-height: auto;
}

#btn_print, #btn_print_supplier {
    display: none;
}

#btn_search2 {
    display: block;
}

#customers_lists_table .table_search:hover, #supplier_lists_table .table_search:hover {
    cursor: pointer;  
    background-color: #007BFF;   
    color: #ffffff;
}