.item_main_container_nav {
    display: none;
}

.item_main_container_section {
    width: 100%;   
}

form {
    background-color: var(--headerFotter);
    box-shadow: 20px 20px 20px;
}

.user_name_header {
    display: none;
}

.login_empty_fields {
    margin-top: 25px;
    box-shadow: 10px 10px 10px;
}