:root {

    /* COLORES PERSONALIZADOS
------------------------------*/

    --backgroundColor: #d7d7d7;                                   
    --buttons: #007bff; 
    --subButtons: #7bff;
    --carbonBlack: #1c1c1c;
    --formsIconsBackgroundColor: #E9ECEF;
    --headerFotter: #173054;
}

     /* GENERAL STYLES
------------------------------*/ 
body {
    background-color: var(--backgroundColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border: none;
    color: var(--buttons);   
}

button:hover {
    background-color: var(--buttons);    
    color: #ffffff;
}

h2 {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

input {
    background-color: #ffffff;
    text-align: left;
}

select {
    background-color: #ffffff;
    color: #000000;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    outline: 1px solid gold;
    border: none;
}

.forms_subtitle {
    background-color: gold;
    width: 50%;
    margin: 0 auto;
    color: #1c1c1c;
    margin-bottom: 50px;
}

            /* General Forms
            -------------- */
.forms_flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px; /* puede afectar a resto de pa´ginas*/
    row-gap: 20px;
}

.forms_fields {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start; */
}

.forms_label {
    margin: 0;
    padding-left: 30px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
.forms_inputs_fields {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.forms_icons {
    background-color: var(--formsIconsBackgroundColor);
    padding: 5px;
}

.forms_inputs {
    padding-left: 10px;
    border: none;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: 1px solid gold; 
}

.forms_inputs:focus {   
   outline: 2.5px solid var(--buttons);
}

::placeholder {
    color: #D3D3D3;
    font-size: 13px;
}

.check_ok{
   padding: 5px ;
   color: #4dd214;
  
}

.check_ko {
    padding: 5px;
    color: #f41a25;
    
}

.forms_buttons {
    background-color: var(--buttons);
    font-weight: bold; 
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.forms_buttons:hover {
    color:#000000;
    opacity: 0.5;
}

.btn-group {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    margin-right: 20%;
} 

            /* General Options Bar
            -------------- */

.general_options_bar {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.general_searchs_forms {
    display: inline-flex;
    padding: 10px;
}

#btn_search2 {
    display: none;
}

/* Search Bar General
--------------*/

.select_search {
    height: 30px;
}

.input_search {
    height: 30px;
    border: none;
    outline: 1px solid gold;
}

.btn_search_subwindow {
    height: 30px;
}

.icon_search_subwindow {
    vertical-align: super;
}


     /* END general styles
--------------------------*/ 



     /* LOGIN "09.login/01-login.template.php"
---------------------------------------------*/

.login_empty_fields {    
    margin: 0 auto;
    width: 375px;
}

.input_text {
    text-align: left;
}

.eye_pwd {
    width: 27px;
    position: relative;
    top: -18.9%;
    left: 43%;
    background-color: transparent;
    opacity: 0.5;
    z-index: 99;
}


     /* HEADER "01-header.template.php"
------------------------------*/
 header {
    background-color: var(--headerFotter);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
 }

 .logo_header {
    width: 100px;    
 }

 .logo_header_inline {
    display: none;
 }

 .title_header {
    height: 60px;
    align-self: center; 
    margin-left: 7%;
 } 

 .user_name_header {
    font-size: 14px;
    color: #ffffff;
    align-self: end;   
    width: 12%;
}

 .user_name_header ul {
    display: -webkit-box;
 }

 .user_name_header ul li  {
    vertical-align: unset;
    padding-right: 10px;
 }

 #user_name:hover, .user_name_header:hover {
    font-style: italic;
    cursor: pointer;
    color: gold;
    transition: 1s;
    #session_close {
        display: block;
    }    
    #user_name {
        display: none;
    }
}

 #session_close {
    display: none;
 }

 .contact_header {
    display: none;
 }

     /* Responsive Web Disegn - Header
    -------------------------*/

@media (max-width: 880px) {

    header {
        display: block;
    }

    .logo_header {
        display: none;
    }
    
    .title_header{
        display: none;
    } 

    .logo_header_inline {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }    
}



     /* MAIN CONTAINER "base.template.php"
------------------------------*/  
.main_container {
    display: flex;
    min-height: 800px;
}

.item_main_container_nav {
    width: 13%;
    /* overflow-y: scroll; */
}

.item_main_container_section {
    width: 87%;   
}


     /* MAIN NAVEGATION BAR "base.template.php"
-----------------------------------------------*/   
#main_nav {
    position: fixed;
    font-size: 13px;
    font-family: Helvetica;  
    ; 
}

#main_nav .li_item {
    margin-bottom: 10px;
 }

 #index_button {
    text-align: center;
    text-transform: uppercase;
 }
.link_button {
    background-color: #ffffff;
    font-weight: bold; 
    width: 145px;
    padding: 5px;
    border-radius: 5px;
    text-align: start;
}

.submenu {
    display: none;
    background-color: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: none;
    border-top-left-radius: none;
}

.submenu li {
    padding: 5px 10px;
    width: 100%;
    border-radius: none;
}

    /* para activar/desactivar botón a través de JQuery */
.li_active_button, .li_active_page {
    background-color: var(--buttons);    
    color: #ffffff;
    border-radius: none;
}

.li_active_button:hover, .li_active_page:hover {
    opacity: 0.7;
    color: #ffffff;
}

.link_subButton {
    font-weight: bold;
}

.link_subButton_active {
    background-color: gold;     
    font-weight: bold;
    width: 130px;
    padding: 5px;
}

.li_active:hover, .link_subButton_active:hover {
    opacity: 0.7;
    color: #ffffff;
    text-decoration: none;
}

.hidden_option_menu {
    display: none;
}

            /*Responsive Web Design - MAIN NAVEGATION BAR */

.mobile_menu {
    display: none;
}

@media (max-width: 880px) {

    #main_nav {
        display: none
    }

    .mobile_menu {
        display: block;
        top: 0;
        left: 0;
        position: fixed;
    }

    .item_main_container_section {
        width: 100%;   
    }

}

     /* SECTION CONTAINER "base.template.php"
---------------------------------------------*/
#main_container_section {   
    overflow-y: auto;  
}

     /* FOOTER "03-footer.template.php"
----------------------------------*/
footer {
    background-color: var(--headerFotter);
    width: 100%;   
    text-align: center;  
    overflow-y: auto;
    bottom: 0;
}

footer h3 {
    color: #ffffff;
}


     /* 01.CUSTOMERS "newCustomer.template.php"
-----------------------------------------------*/

.box_1 {
    display: flex;      
    padding-top: 50px;
    justify-content: center  
}

.box_1_2 {
    display: flex;
    column-gap: 10%;
    row-gap: 30%   
}

.flex_box {
    margin-left: 10%;
}

.input_ids {
    width: 70%;
}

#radio_forms_fields {
    border: 1px solid #C1C1C1;
    border-radius: 5px; 
}

#radio_forms_fields > label {
    text-align: center;
    width: 100%;  
    margin-bottom: 2%;
    
}
#radio_forms_fields .forms_label {
    font-weight: 400;
}

#radio_forms_fields .forms_inputs_fields {
    display: block;
}

.input_radio {
    margin-right: 1.8%;
}

.input_date {
    width: 70%
}

.input_name {
    width: 536px;
}

.input_address {
    width: 532px;
}

.input_nif {
    width: 227px;
}

.input_town {
    width: 227px;
}

.input_country {
    width: 229px;
}

.input_phone {
    width: 229px;
}

.input_email {
    width: 229px;
}

.input_contact_person {
    width: 228px;
}

.hide_alert {
    display: none;
}

/* Responsive Web Design newCustomer */

@media (max-width: 715px) {
    
    .input_town, .input_name, .input_address, .input_nif, .input_country, .input_phone,
    .input_email, .input_contact_person, .input_postal_code, .input_province, 
    .input_province_supplier, .input_country_supplier,.input_phone_supplier, 
    .input_email_supplier,.input_web {
        width: 357px;
    }
 }


     /* 01.CUSTOMERS "customerList.template.php"
-----------------------------------------------*/

.general_tables thead {
    font-weight: bold;
    color: var(--carbonBlack);
    font-size: 14px;
}

.general_tables tbody {
    font-size: 14px;
}

 /* 02.SUPPLIER " newSupplier.template.php"
-----------------------------------------------*/

.input_province_supplier {
    width: 223px;
}
        
.input_country_supplier {
    width: 229px;
}

.input_phone_supplier {
    width: 231px;
}

.input_email_supplier {
    width: 227px;
}

.input_web {
    width: 229px;
}

/* Responsive Web Design newCustomers - newSupplier */

@media (max-width: 767px) {
    
    .forms_flex_supplier {   
        justify-content: center;
    }
    
    .input_town, .input_name, .input_address, .input_nif, .input_country, .input_phone,
    .input_email, .input_contact_person, .input_postal_code, .input_province, 
    .input_province_supplier, .input_country_supplier,.input_phone_supplier, 
    .input_email_supplier,.input_web, .input_postal_code_supplier {
        width: 357px;
    }

 }

  /* 03.INVENTORY " newProduct.template.php"
-----------------------------------------------*/
.select_product {
    padding: 0.6%;
}

.forms_flex_products {
    margin-left: 20px;
}

.input_numbers_product {
    width: 124px;
}

.box_2_products {
    margin-top: 20px;
}

/*  Responsive Web Design
---------------------------*/

@media (max-width: 1199px) {

    .forms_flex_products {
        column-gap: 0px;
    }
}

@media (max-width: 1199px) {

    .forms_flex_products {
      margin-left: 10%;
    }
}

@media (max-width: 768px) {

    .box_2_products {
        
        flex-direction: column;
    }
}


    /* Hidde error messages - Forms fields 
    --------------------------------------------------*/

.name_field_duplicate {
    display: none;
}

.nif_field_duplicate {
    display: none;
}

.error_format_nif {
    display: none;
}

.error_format_postal_code {
    display: none;
}

.error_format_phone {
    display: none;
}

.require_fields {
    display: none;
}

.or_field_duplicate {
    display: none;
}
.error_format_name {
    display: none;
}

.error_format_description {
    display: none;
}

.error_format_sales_price {
    display: none;
}

.error_field {
    display: none;    
}

.error_amount_field {
    display: none;
}

.submit_disabled {
    display: none;
}

.error_price_field {
    display: none;
}

.error_discount_field {
    display: none;
}

.error_discount_document_field {
    display: none;
}


     /* 03.INVENTORY "productsInputs.template.php" (shared with 04.SALES "newInvoice.temmplate.php")
-----------------------------------------------*/

.row_table {
    margin-top: 50px;
}

#products_inputs_form th {
    font-weight: bold;
    font-size: 15px;
}

#products_inputs_form td {
    font-size: 15px;
}

.ref {
    width: 10px;
}

.desc {
    width: 300px;
}

.cant {
    width: 1px;
}

.pr {
    width: 100px;
}

.des {
    width: 10px;
}

.total {
    width: 100px;
}

.align_icon {
    display: flex;
    justify-content: center;
}

.div_id_product_item {
    width: 100%;
}

.product_item_id {
    width: 100%
}

#products_inputs_form .search_icon {
   padding: 3.5%;
}

#products_inputs_form .search_icon:hover, .search_icon_customer:hover {
    cursor: pointer;
    opacity: 0.6;
}

.amounts, .price, .discount, .total_item_row, .number_input {
    text-align: end;
}

.inputs_width {
    width: 100%;
}

.btn_minus {
    display: none;
}

.total_field {
    width: 150px;
}

#products_inputs_form .hidden_rows {
    display: none;
}

#products_inputs_form .btn-group {
    margin-right: 0;
}

     /* 04.SALES "newInvoice.template.php"
-----------------------------------------------*/

.flex_customer_field_father {
    position: relative;
}

.flex_customer_field {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: -35%;
    left: 70%;
}
