:root {

    /* COLORES PERSONALIZADOS
------------------------------*/
    --backgroundColor: #EFF3FF;  
    --backgroundColor: #778899;    
    --backgroundColor: #D3D3D3;
    --backgroundColor: #d7d7d7;
    
    --buttons: #007bff; 
    --subButtons: #7bff;

    --formsIconsBackgroundColor: #E9ECEF;
   

   
}

     /* GENERAL STYLES
------------------------------*/ 
body {
    background-color: var(--backgroundColor);
    font-family: Helvetica;
}

button {
    border: none;
    color: var(--buttons);   
}

button:hover {
    background-color: var(--buttons);    
    color: #ffffff;
}

h2 {
    width: 75%;
    margin: 0 auto;
}

            /* General Forms
            -------------- */
.forms_flex {
    display: flex;
    flex-wrap: wrap;
}

.forms_fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.forms_label {
    margin: 0;
    padding-left: 30px;
    font-weight: bold;
    font-size: 15px;
}
.forms_inputs_fields {
    display: flex;
    /*justify-content: center;*/
}

.forms_icons {
    background-color: var(--formsIconsBackgroundColor);
    padding: 6px;
}

.forms_inputs {
    padding-left: 10px;
    border: none;
    border-radius: 3px;
}

.forms_inputs:focus {   
   outline: 2.5px solid gold;
}

::placeholder {
    color: #D3D3D3;
    font-size: 13px;
}

.forms_buttons {
    background-color: var(--buttons);
    font-weight: bold; 
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.forms_buttons:hover {
   /* background-color: gold;*/
    color:#000000;
    opacity: 0.5;
}
     /* END general styles
--------------------------*/ 


     /* HEADER "01-header.template.php"
------------------------------*/
 header {
    background-color: #000000;
    margin-bottom: 50px;
 }

 header h1 {
    color: #ffffff;
 }

     /* MAIN CONTAINER "base.template.php"
------------------------------*/  
.main_container {
    display: flex;
}

.item_main_container_nav {
    width: 13%;
    border-right: 2px solid #ffffff;
    /* overflow-y: scroll; */
}

.item_main_container_section {
    width: 87%;   
}

     /* MAIN NAVEGATION BAR "base.template.php"
-----------------------------------------------*/   
#main_nav {
    position: fixed;
    font-size: 13px;
    
}

#main_nav .li_item {
    margin-bottom: 10px;
 }

 #index_button {
    text-align: center;
    text-transform: uppercase;
 }
.link_button {
    background-color: #ffffff;
    font-weight: bold; 
    width: 145px;
    padding: 5px;
    border-radius: 5px;
    text-align: start;
}

.submenu {
    display: none;
    background-color: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: none;
    border-top-left-radius: none;
}

.submenu li {
    padding: 5px 10px;
    width: 100%;
    border-radius: none;
}

.submenu li a {
    
}

    /* para activar/desactivar botón a través de JQuery */
.li_active_button, .li_active_page {
    background-color: var(--buttons);    
    color: #ffffff;
    border-radius: none;
    /*text-decoration: underline;*/
   
}

.li_active_button:hover, .li_active_page:hover {
    opacity: 0.7;
    color: #ffffff;
}

.link_subButton {
    font-weight: bold;
    
}

.link_subButton_active {
    background-color: gold; 
    font-weight: bold;
    width: 130px;
    padding: 5px;
    /*border-radius: 3px;*/   
   
}

.li_active:hover, .link_subButton_active:hover {
    opacity: 0.7;
    color: #ffffff;
    text-decoration: none;
}


            /*Responsive Web Design - MAIN NAVEGATION BAR */

.mobile_menu {
    display: none;
}

@media (max-width:700px) {

    #main_nav {
        display: none
    }

    .mobile_menu {
        display: block;
        top: 0;
        right: 0;
        position: fixed;
    }

}

     /* SECTION CONTAINER "base.template.php"
---------------------------------------------*/
#main_container_section {
   
    overflow-y: auto;
  
}




     /* FOOTER "03-footer.template.php"
----------------------------------*/
footer {
    background-color: #000000;
    width: 100%;   
    text-align: center;  
    overflow-y: auto;
    bottom: 0;
}

footer h3 {
    color: #ffffff;
}


     /* 01.CUSTOMERS "newCustomer.template.php"
-----------------------------------------------*/





