    # No permite acceso a páginas internas tecleando directamente la ruta
Options All -Indexes

    # URL's Amigables de momento (de momento no lo aplico). Se eliminaría la ruta 'index.php?pages=' de los href correspondientes
#RewriteEngine On
#RewriteRule ^([-a-zA-z0-9/]+)$ index.php?pages=$1

    # Obligar a que se entre a la web por https (si se tiene certificado SSL+TSL) (De momento no es el caso)
# RewriteCond %{HTTP_HOST} !^$
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteCond %{HTTP_HOST} !on
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

    # Asegurando archivo .htaccess
<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "index[0-9]?\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

